body{
	background-color:#fdfaf6;
	font-size:1em;
	color:#6d7582;
}

h4{
	font-size:20px;
	color:#e06c5f;
	text-align:left;
}

p{
	text-align:left;
}

hr{
	border:0;
	width:13%;
	color:#d8d8d8;
	background-color:#d8d8d8;
	margin:15px auto 15px auto;
	height:1px;
}

img[alt~="thumb"]:hover {
	opacity:0.5;
	transition:500ms ease;

}



.wrap-header {
	background-color:#fff;
	width:100%;
	border-top:2px solid #f66b4c;
	padding:1.250em 0 0.625em 0;
	
}

.wrap-header h3{
	color:#6d7582;
}

a{
	color:#6d7582;
}

a:hover{
	color:#f66b4c;
	
}

.top-bar{
	background-color:#fff;
}
.has-dropdown{
	background-color:#fff;
}
/*.nav{
	float:right;
	clear:both;


}

.nav ul{
	display:inline;
	margin-top:0.938em;

}

.nav li{
	display:inline;
	padding-right:35px;
	
}*/

.wrap-about {
	width:100%;
	padding:3.125em 0 3.125em 0;
	text-align:center;
	border-bottom: 2px solid #e06c5f;
	

	
}

.wrap-video {
	width:100%;
	padding:3.125em 0 3.125em 0;
	text-align:center;
	
}

.wrap-work {
	width:100%;
	padding:3.125em 0 3.125em 0;
	text-align:center;
	border-bottom: 2px solid #e06c5f;
	
}

.portfolio{
	margin:0 auto;

}

.portfolio ul{
	margin:35px auto;
	text-align:center;

}

.portfolio li{
	
	display:inline-block;
	
	margin:4px 4px 0 4px;
	

}

.portfolio h4 {
	text-align:center;
}

.portfolio p{
	text-align:center;
}




